body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

h1, h2, h3 {
    color: rgb(0, 0, 0);
}

canvas {
    max-height: 500px;
    max-width: 500px;
}


button {
    min-width: 150px;
}


.effects {
    gap: 7px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}